node_modules
packages/**/dist
packages/**/.turbo
packages/**/node_modules
apps/**/dist
apps/**/.turbo
apps/**/node_modules
docs/**/dist

yarn-error.log
# Code coverage folders and files
coverage*
**/coverage*
junit.xml

**/.DS_Store

# Turborepo
.turbo

# docs
docs/build/*.md
api-docs/
index.html
unit-tests.html

# IDE
.idea