node_modules
packages/**/dist
packages/**/.turbo
packages/**/node_modules
apps/**/dist
apps/**/.turbo
apps/**/node_modules

yarn-error.log
# Code coverage folder for tests
packages/**/coverageUnit
packages/**/coverageIntegration
**/.DS_Store

# Turborepo
.turbo

# docs
docs/build/*.md