node_modules
packages/**/dist
packages/**/.turbo
packages/**/node_modules
docs/**/dist

# Yarn 4
.yarn/install-state.gz
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

yarn-error.log
# Code coverage folders and files
coverage*
junit.xml

**/.DS_Store

# Turborepo
.turbo

# docs
api-docs/

# Test files
unit-tests.html

# IDE
.idea
.yarn

# Examples
examples/**/dist
examples/**/node_modules
examples/**/yarn.lock
examples/**/index.js
examples/**/.yarnrc.yml

