name: Build and Lint

on:
    workflow_call:

jobs:
    build:
        name: Build & Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: lts/*

            - name: Install & Patch packages
              run: yarn install

            - name: Lint
              run: yarn lint

            - name: Circular dependencies check
              run: yarn check:circular-dependencies

            - name: Build
              run: yarn build
