name: Run Build & Lint

on:
    workflow_call:

jobs:
    build:
        name: Build & Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version-file: .nvmrc

            - name: Install & Patch packages
              run: yarn install

            - name: Lint
              run: yarn lint

            - name: Build
              run: yarn build