name: CI-V3

permissions:
  contents: read

on:
  push:
    branches:
      - sdk-v3 #will be main in the future
  pull_request:
    branches:
      - sdk-v3
      
concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  build:
    name: Build
    needs: [lint]
    uses: ./.github/workflows/build.yml

  tests_node:
    name: Tests on Node
    needs: [build]
    uses: ./.github/workflows/test-node.yml

  tests_browser:
    name: Tests Browser
    needs: [build]
    uses: ./.github/workflows/test-browser.yml

  build_examples:
    name: Build Examples
    needs: [build]
    uses: ./.github/workflows/examples.yml

  sonar:
    name: SonarCloud
    needs: [tests_node]
    if: always()
    uses: ./.github/workflows/sonar.yml
    secrets: inherit


