name: Build Examples

permissions:
  contents: read

on:
    workflow_call:

jobs:
    build_examples:
        name: Build Examples
        runs-on: ubuntu-latest
        timeout-minutes: 25
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Setup Node (LTS)
            uses: actions/setup-node@v4
            with:
                node-version: lts/*
                cache: 'npm'

          - name: Enable Corepack
            run: corepack enable

          - name: Cache node_modules
            uses: actions/cache@v4
            with:
              path: |
                node_modules
                packages/*/node_modules
              key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}-yarn4
              restore-keys: |
                ${{ runner.os }}-modules-

          - name: Install dependencies
            run: corepack yarn install --immutable

          - name: Build SDK
            run: corepack yarn build

          - name: Build Examples
            run: corepack yarn build-examples

          - name: Run Non-Vite Examples
            run: corepack yarn run-examples
