name: Publish package to GitHub Packages
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node (LTS)
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@vechain'

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: corepack yarn install --immutable

      - name: Build packages
        run: corepack yarn build

      - name: Publish packages
        run: corepack yarn publish --access restricted
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}