name: Check for leaks in secrets
on: 
    pull_request:
      branches:
        - 'main'
        - 'main-*'
        - 'supported-*'
        - 'feature-*'

permissions:
  contents: read # This is required for actions/checkout
  pull-requests: write # This is required for pull request comments

jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE}}
