name: Main CI

on:
    push:
      branches:
        - 'main'
        - 'main-*'
        - 'supported-*'
        - 'feature-*'
        - '1.0.0'
        - 'socket-hang-up-test'

jobs:
    # install-build:
    #     uses: ./.github/workflows/build-lint.yml
    #     secrets: inherit
    unit-integration-test:
        uses: ./.github/workflows/unit-integration-test.yml
        secrets: inherit
    # unit-integration-test-browser:
    #   uses: ./.github/workflows/unit-integration-test-browser.yml
    #   secrets: inherit
