name: main-ci

on:
    push:
      branches:
        - 'main'
        - 'main-*'

jobs:
    install-build:
        uses: ./.github/workflows/build-lint.yml
        secrets: inherit
    unit-integration-test:
        uses: ./.github/workflows/unit-integration-test.yml
        secrets: inherit
    sonar-scan:
        uses: ./.github/workflows/sonar.yml
        secrets: inherit
