name: PR Checks

on:
  pull_request:
    branches:
      - 'main'
      - 'main-*'
      - 'supported-*'
      - 'feature-*'
      - '1.0.0'

jobs:
    doc-examples:
        name: Execute doc examples
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: lts/*

            - name: Enable Corepack
              run: corepack enable

            - name: Setup Yarn
              run: corepack prepare yarn@4.9.1 --activate

            - name: Get yarn cache directory path
              id: yarn-cache-dir-path
              run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

            - name: Cache Yarn dependencies
              uses: actions/cache@v4
              id: yarn-cache
              with:
                  path: |
                      ${{ steps.yarn-cache-dir-path.outputs.dir }}
                      .yarn/cache
                      .yarn/unplugged
                      .yarn/install-state.gz
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-

            - name: Build SDK
              run:  |
                rm -rf ./**/node_modules/
                yarn install
                yarn build

            - name: Start Thor solo node
              id: start-solo
              run:  |
                yarn start-thor-solo
                yarn seed-thor-solo

            - name: Test docs examples
              run: |
                yarn test:examples

            - name: Stop Thor solo node
              id: stop-solo
              run: yarn stop-thor-solo
    
    test-apps:
        uses: ./.github/workflows/test-apps.yml
        secrets: inherit

    install-build:
        uses: ./.github/workflows/build-lint.yml
        secrets: inherit

    unit-integration-test:
        uses: ./.github/workflows/unit-integration-test.yml
        secrets: inherit

    unit-integration-test-browser:
      uses: ./.github/workflows/unit-integration-test-browser.yml
      secrets: inherit
            
    