name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
    doc-examples:
        name: Execute doc examples
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                node-version-file: .nvmrc
            - name: Build SDK
              run:  |
                rm -rf ./**/node_modules/
                yarn install
                yarn build
            - name: Test docs
              run: |
                cd docs
                yarn test:docs

    install-build:
        uses: ./.github/workflows/build-lint.yml
        secrets: inherit

    unit-integration-test:
        uses: ./.github/workflows/unit-integration-test.yml
        secrets: inherit

    sonar-scan:
      uses: ./.github/workflows/sonar.yml
      secrets: inherit
      needs: unit-integration-test
            
    