name: PR Checks

on:
  pull_request:
    branches:
      - 'main'
      - 'main-*'
      - 'supported-*'
      - 'feature-*'
      - '1.0.0'

permissions:
  contents: read
  pull-requests: write

jobs:
    doc-examples:
        name: Execute doc examples
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: lts/*
            - name: Build SDK
              run:  |
                rm -rf ./**/node_modules/
                yarn install
                yarn build

            - name: Start Thor solo node
              id: start-solo
              run:  |
                yarn start-thor-solo
                yarn seed-thor-solo

            - name: Test docs examples
              run: |
                yarn test:examples

            - name: Stop Thor solo node
              id: stop-solo
              run: yarn stop-thor-solo
    
    test-apps:
        uses: ./.github/workflows/test-apps.yml
        secrets: inherit

    install-build:
        uses: ./.github/workflows/build-lint.yml
        secrets: inherit

    unit-integration-test:
        uses: ./.github/workflows/unit-integration-test.yml
        secrets: inherit

    unit-integration-test-browser:
      uses: ./.github/workflows/unit-integration-test-browser.yml
      secrets: inherit
            
    