name: Sonar Scan
on:
  workflow_run:
    workflows: [PR Checks, Main CI]
    types:
      - completed

jobs:
  sonar-scan:
    name: Sonar Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Download coverage report
        uses: actions/download-artifact@v4.1.8
        with:
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ github.token }}
          name: coverage-results
          path: coverage

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.verbose=false
            -Dsonar.branch.name=${{ github.head_ref || github.ref_name }}