name: Test apps examples

on:
    workflow_call:

jobs:
    build:
        name: Install and test example apps
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: v20.11.0
                  cache: 'yarn'

            - name: Get yarn cache directory path
              id: yarn-cache-dir-path
              run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

            - name: Cache Yarn dependencies
              uses: actions/cache@v4
              id: yarn-cache
              with:
                  path: |
                      ${{ steps.yarn-cache-dir-path.outputs.dir }}
                      node_modules
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-

            - name: Cache Playwright browsers
              uses: actions/cache@v4
              id: playwright-cache
              with:
                  path: |
                      ~/.cache/ms-playwright
                  key: ${{ runner.os }}-playwright-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-playwright-

            - name: Install packages
              if: steps.yarn-cache.outputs.cache-hit != 'true'
              run: yarn install

            - name: Install playwright dependencies (for sample Vite dApp tests)
              if: steps.playwright-cache.outputs.cache-hit != 'true'
              run: yarn playwright install
                
            - name: Build packages
              run: yarn build

            - name: Test apps
              env:
                GALACTICA_DEV_MNEMONIC: ${{ secrets.GALACTICA_DEV_MNEMONIC }}
              run: |
                  # Absolute path to the 'apps' directory
                  apps_directory="$(pwd)/apps"
                  
                  # Iterate over each folder in /apps
                  for current_app_directory in "$apps_directory"/*; do
                    if [ -d "$current_app_directory" ]; then
                      # Get the directory name
                      dir_name=$(basename "$current_app_directory")
                      
                      # LOG
                      echo "Running yarn in $current_app_directory"
                  
                      # Navigate to the directory using absolute path
                      cd "$current_app_directory"
                  
                      # Test
                      yarn test
                      
                      # Galactica devnet test for sdk-hardhat-integration
                      if [ "$dir_name" = "sdk-hardhat-integration" ]; then
                        echo "Running additional galactica devnet tests"
                        yarn test:galactica:devnet
                      fi
                  
                      # Return to the original directory using absolute path
                      cd "../"
                    fi
                  done