name: Run unit tests

on:
  workflow_call:

jobs:
    build:
        name: Build & Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version-file: .nvmrc

            - name: Install & Patch packages
              run: yarn install

            - name: Test
              run: yarn test

            - name: Jest Coverage Comment
              uses: MishaKav/jest-coverage-comment@main
              with:
                coverage-summary-path: coverage/coverage-summary.json

            - name: Archive coverage
              uses: actions/upload-artifact@v3
              with:
                name: coverage-results
                path: |
                  packages/**/coverage/lcov.info
                  coverage/coverage-summary.json