name: Unit tests for browser

on:
  workflow_call:

jobs:
    build:
        name: Build & Lint
        runs-on: ubuntu-22.04
        strategy:
            fail-fast: false
            matrix:
                node: [20, lts/*, 24]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}

            - name: Install & Patch packages
              run: yarn install

            - name: Preliminary Stop of Thor solo node
              id: preliminary-stop-solo
              run: yarn stop-thor-solo

            - name: Build for solo setup
              run: yarn build

            - name: Start Thor solo node
              id: start-solo
              run:  |
                yarn start-thor-solo
                yarn seed-thor-solo

            - name: Test
              id: unit-test
              run: yarn test:browser

            - name: Save Thor solo logs
              if: always() && steps.start-solo.outcome == 'success'
              id: save-logs
              run: yarn save-thor-solo-logs

            - name: Upload Thor solo logs
              if: always() && steps.save-logs.outcome == 'success'
              uses: actions/upload-artifact@v4.6.2
              with:
                name: thor-solo-logs-browser-${{ matrix.node == 'lts/*' && 'node-lts' || format('node-{0}', matrix.node) }}
                path: packages/solo-setup/logs/
                retention-days: 7

            - name: Stop Thor solo node
              if: always() && steps.start-solo.outcome == 'success'
              id: stop-solo
              run: yarn stop-thor-solo