name: Unit tests for node

on:
  workflow_call:

jobs:
    build:
        name: Build & Lint
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                node: [18, lts/*, latest]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}

            - name: Enable Corepack
              run: corepack enable

            - name: Setup Yarn
              run: corepack prepare yarn@4.9.1 --activate

            - name: Get yarn cache directory path
              id: yarn-cache-dir-path
              run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

            - name: Cache Yarn dependencies
              uses: actions/cache@v4
              id: yarn-cache
              with:
                  path: |
                      ${{ steps.yarn-cache-dir-path.outputs.dir }}
                      .yarn/cache
                      .yarn/unplugged
                      .yarn/install-state.gz
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-

            - name: Install packages
              run: yarn install

            - name: Install playwright dependencies (for sample Vite dApp tests)
              run: yarn playwright install

            - name: Preliminary Stop of Thor solo node
              id: preliminary-stop-solo
              run: yarn stop-thor-solo

            - name: Build for solo setup
              run: yarn build

            - name: Start Thor solo node
              id: start-solo
              run: |
                yarn start-thor-solo
                yarn seed-thor-solo

            - name: Test
              if: steps.start-solo.outcome == 'success'
              id: all-tests
              run: yarn test

            - name: Stop Thor solo node
              if: always() && steps.start-solo.outcome == 'success'
              id: stop-solo
              run: yarn stop-thor-solo

            - name: Merge coverage
              if: always() && steps.start-solo.outcome == 'success'
              run: yarn merge-coverage

            - name: Jest Coverage Comment
              if: matrix.node == 'lts/*'
              uses: MishaKav/jest-coverage-comment@main
              with:
                title: Test Coverage
                summary-title: Summary
                badge-title: Coverage
                hide-comment: false
                create-new-comment: false
                hide-summary: false
                coverage-title: Coverage
                coverage-summary-path: coverage/coverage-summary.json
                multiple-junitxml-files: |
                  core, packages/core/junit.xml
                  network, packages/network/junit.xml
                  errors, packages/errors/junit.xml
                  logging, packages/logging/junit.xml
                  hardhat-plugin, packages/hardhat-plugin/junit.xml
                  aws-kms-adapter, packages/aws-kms-adapter/junit.xml
                  ethers-adapter, packages/ethers-adapter/junit.xml
                  rpc-proxy, packages/rpc-proxy/junit.xml

            - name: Archive coverage
              if: always() && matrix.node == 'lts/*' && (steps.stop-solo.outcome == 'success')
              uses: actions/upload-artifact@v4.4.3
              with:
                name: coverage-results
                path: |
                  packages/**/coverage/lcov.info
            
            - name: Post unit test results to slack
              if: always() && github.ref == 'refs/heads/main' && (steps.all-tests.outcome == 'failure')
              uses: slackapi/slack-github-action@v2.0.0
              with:
                webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
                webhook-type: webhook-trigger
                payload: |
                  {
                    "source": "GitHub",
                    "repo": "${{ github.repository}}",
                    "branch": "${{ github.head_ref || github.ref_name }}",
                    "message": "unit tests failed, see run: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
