name: Run unit tests

on:
  workflow_call:

jobs:
    build:
        name: Build & Lint
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node: [18, lts/*, latest]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}

            - name: Install & Patch packages
              run: yarn install

            - name: Test
              id: unit-test
              run: yarn test

            - name: Jest Coverage Comment
              if: matrix.node == 'lts/*'
              uses: MishaKav/jest-coverage-comment@main
              with:
                title: Test Coverage
                summary-title: Summary
                badge-title: Coverage
                hide-comment: false
                create-new-comment: false
                hide-summary: false
                coverage-title: Coverage
                coverage-summary-path: coverage/coverage-summary.json
                multiple-junitxml-files: |
                  core, packages/core/junit.xml
                  network, packages/network/junit.xml
                  errors, packages/errors/junit.xml

            - name: Archive coverage
              if: matrix.node == 'lts/*'
              uses: actions/upload-artifact@v4
              with:
                name: coverage-results
                path: |
                  packages/**/coverage/lcov.info
            
            - name: Post unit test results to slack
              if: always()  && github.ref == 'refs/heads/main' && (steps.unit-test.outcome == 'failure')
              uses: slackapi/slack-github-action@v1.24.0
              with:
                payload: |
                  {
                    "source": "GitHub",
                    "repo": "${{ github.repository}}",
                    "branch": "${{ github.head_ref || github.ref_name }}",
                    "message": "unit tests failed"
                  }
              env:
                SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

              